{% load static %}

<html>
    <head>
        <script src="{% get_static_prefix %}js/jquery-3.2.0.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/ws4redis.js"></script>
    </head>
    <body>
        <div id="sql">
        </div>
        <div id="ws">
        </div>
        <script>
            function sql() {
                $('#sql').load('/sql/{{ facility }}');
            }
            sql()
            var first=true;
            jQuery(document).ready(function ($) {
                var ws4redis = WS4Redis({
                    uri: 'ws://' + location.hostname + ':' + location.port + '/ws/{{ facility }}?subscribe-broadcast&publish-broadcast',
                    connecting: on_connecting,
                    connected: on_connected,
                    receive_message: receiveMessage,
                    disconnected: on_disconnected
                });

                // attach this function to an event handler on your site
                function sendMessage() {
                    ws4redis.send_message('A message');
                }

                function on_connecting() {
                }

                function on_connected() {
                    if (first == true)
                    {
                        first = false
                    }
                    else
                    {
                        document.getElementById('ws').innerHTML = "";
                        sql()
                    }
                }

                function on_disconnected(evt) {
{#                    document.writeln('Websocket was disconnected: ' + JSON.stringify(evt) + '</br>');#}
                }

                // receive a message though the websocket from the server
                function receiveMessage(msg) {
                    if (msg == 'ws4redis_heartbeat') {
                        return
                    };
                    document.getElementById('ws').appendChild(document.createTextNode(msg));
                    document.getElementById('ws').appendChild(document.createElement('br'));
                }
            });
        </script>
    </body>
</html>